<script setup>
import Institution from "./template/DivTemplate.vue";
</script>

<template>
  <main>
    <Institution>
      <template #heading>Hochschule Esslingen, 2021 - 2025</template>
      <div class="description">
        Aktuell immatrikulierter Student im Bereich der Wirtschaftsinformatik.
        Die Kernmodule sind Software-Engineering, Datenbanken, Rechnernetze,
        Softwarearchitektur, Internet-Technologien und Wirtschaftsinformatik.
      </div>
    </Institution>

    <Institution>
      <template #heading>Johannes Kepler Gymnasium</template>
      <div class="description">
        Allgemeinbildendes Gymnasium in Stuttgart. Abgeschlossen mit
        Fachhochschulreife und zusätzlich erfolgreich durchgeführtes FSJ.
      </div>
    </Institution>

    <Institution>
      <template #heading>Königin-Charlotten-Gymnasium</template>
      <div class="description">Allgemeinbildendes Gymnasium in Stuttgart</div>
    </Institution>
  </main>
</template>

<style scoped>
.description {
  margin-top: 2%;
  margin-bottom: 5%;
}
</style>
