<script setup>
import Experience from "./template/DivTemplate.vue";
</script>

<template>
  <main>
    <Experience>
      <template #heading>Praktikum</template>
      <a href="https://brainority.com">Brainority Software GmbH</a>, Suttgart
      <div class="description">
        Aktivitäten in Qualitätssicherung und Monitoring, einschließlich Prüfung
        der Qualität und Erstellung von Testberichten aus End-to-End-Tests für
        Endkunden.
      </div>
      <div>
        Aufgabenbereich:
        <ul>
          <li>
            Verantwortlich für die Erstellung detaillierter Testberichte
            mithilfe eigens entwickelter Software.
          </li>
          <li>
            Erfolgreiche Umsetzung von JavaScript-Programmierung unter Einsatz
            moderner Tools wie Docker sowie XSLT-Prozessoren zur effizienten
            Transformation von XML- und JSON-Daten.
          </li>
          <li>Entwicklung und Verwaltung des Backends mit Directus</li>
        </ul>
      </div>
    </Experience>

    <Experience>
      <template #heading>Skills</template>
      <div class="description">
        Java, JavaScript, Datenbanken, Git, Docker, Spring Boot, Vue, Directus,
        SAP S/4Hana
      </div>
    </Experience>
  </main>
</template>

<style>
.description {
  margin-top: 2%;
  margin-bottom: 5%;
}
</style>
