<script setup>
import WelcomeItem from "./template/DivTemplate.vue";
</script>

<template>
  <WelcomeItem>
    <template #heading>Background-Historie</template>

    <div class="description">
      Im Jahr 2011 bin mit meiner Familie nach Deutschland gezogen ohne
      Deutschkenntnisse. Ich bin hier zur Schule gegangen und habe mich schnell
      in die Sprache eingelebt, trotz der Schwierigkeit der Sprache. Ich war
      immer gestrebt Ingenieur zu werden und in Esslingen habe ich diese
      Herausforderung angetreten. Hier beginnt mein Abenteuer als Ingenieur im
      Bereich der Wirtschaftsinformatik.
    </div>
  </WelcomeItem>

  <WelcomeItem>
    <template #heading>Hinweis zur Datenschutz</template>

    <div class="description">
      Informationen, die hier zu finden sind dienen ausschließlich zur
      Beschreibung. Bei der Verwendung dieser Daten ohne meine ausdrückliche
      Zustimmung erfolgt rechtliche Konsequenzen.
    </div>
  </WelcomeItem>
</template>

<style>
.description {
  margin-top: 5%;
  margin-bottom: 5%;
}
</style>
