<script setup>
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import IconHome from "./components/icons/IconHome.vue";
import IconBook from "./components/icons/IconBook.vue";
import IconHandshake from "./components/icons/IconHandshake.vue";
</script>

<template>
  <header>
    <div class="wrapper">
      <HelloWorld msg="Richmore Aidams" />
      <nav>
        <RouterLink to="/home"
          ><i><IconHome /></i>Home</RouterLink
        >
        <RouterLink to="/bildungsweg">
          <i><IconBook /></i>Bildungsweg</RouterLink
        >
        <RouterLink to="/erfahrungen"
          ><i><IconHandshake /></i>Praktische Erfahrungen</RouterLink
        >
      </nav>
    </div>
  </header>

  <RouterView />

  <footer>
    <div class="footer">
      © Richmore Aidams | Kontakt: riaiit00@hs-esslingen.de
    </div>
  </footer>
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

footer {
  height: 10%;
  position: fixed;
  bottom: 0;
  margin-top: 2%;
  background-color: var(--color-background);
}

i {
  margin-right: 0.2cm;
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
